@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    border-style: none;
}

body {
    background-image: url(imagens/wallpaper001.jpg);
}

.quadrado {
    display: inline-block;

    background-color: lightgray;
    border: 2px solid black;
    border-radius: 10px;
    width: 300px;
    height: 300px;
}

#q1 {
    background-color: aqua;
}

#q2 {
    background-image: linear-gradient(to bottom, yellow, rgb(240, 1, 1));
}

#q3 {
    background-image: url(imagens/pattern003.png);
}